h2,
h4 {
  margin-bottom: 0.2rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}

.about-section {
  display: flex;

  & > * {
    width: 50%;
  }
}

.training-section {
  background-image: url("../assets//gallery/wuco2.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 85h;

  & h2 {
    color: #ddd;
    padding-top: 1rem;
    font-size: 2rem;

    &::after {
      content: "WUCO Martial Arts Club";
      display: block;
      font-size: small;
      padding: 0.5rem;
    }
  }

  & .training-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.follow-section {
  position: relative;
  & .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    overflow: hidden;
    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  & .section-children {
    display: flex;
    justify-content: space-evenly;

    iframe {
      max-height: 70vh;
      overflow: auto;
    }
  }
}

.contact-section {
  height: 65vh;
  display: flex;

  & > * {
    width: 50%;
  }
}
